<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gallardo Abogados</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body-back-color">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index">
                    <img src="/Content/images/Icon_100.jpg" class="navbar-brand" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Servicios", "About", "Home")</li>
                    <li>@Html.ActionLink("Quiénes somos", "Who", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Situación", "Where", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div id="header" class="jumbotron container">
            <h1>Gallardo Abogados</h1>
            <p class="lead">Despacho profesional</p>
        </div>
        <div id="inner-body" class="container">
            @RenderBody()
        </div>
        <hr />
        <footer class="container">
            <div class="row">
                <p>Gallardo Abogados</p>
                <p><strong>Teléfono:</strong> 952 22 63 35</p>
            </div>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
                <a class="addthis_button_facebook_share" fb:share:layout="button_count"></a>
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_facebook_send"></a>
                <a class="addthis_button_linkedin_counter"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                <a class="addthis_button_tweet"></a>
            </div>
            <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5202b7752da3d3f4"></script>
            <!-- AddThis Button END -->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
