<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gallardo Abogados</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body-back-color">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/Content/images/Icon_100.jpg" class="navbar-brand" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Servicios", "About", "Home")</li>
                    <li>@Html.ActionLink("Quienes somos", "Who", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Situacion", "Location", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="header" class="jumbotron">
            <h1>Gallardo Abogados</h1>
            <p class="lead">Despacho profesional</p>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>Gallardo Abogados</p>
            <p><strong>Teléfono:</strong> 555 24 24 24</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
